<!DOCTYPE html>
<html>
<head>
    <title>Colonel Sanders</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
    <div id="top-menu">Colonel Sanders</div>
    <div id="main-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, velit eget ullamcorper tincidunt, nisl velit lacinia velit, vel tincidunt diam velit vel velit. Vivamus euismod, velit eget ullamcorper tincidunt, nisl velit lacinia velit, vel tincidunt diam velit vel velit.</p>
    </div>
</body>
</html>
