/* styles.css */
body {
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  background-color: #0a0a0d;
  color: white; /* Set the default text color to white */
}

#top-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 0, 51, 0.6);
  color: white;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#title {
    margin-left: 10px;
}

#main-content {
  margin-top: 70px;
  padding: 20px;
  width: calc(100% - 40px);
}

.section {
    margin-top: 20px;
    opacity: 1; /* Set the default opacity to fully visible */
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    min-height: calc(100vh - 70px);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.feature-number {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #ff0033;
    color: white;
    text-align: center;
    margin-right: 10px;
}
